.button {
	-fx-border-width: 0;
	-fx-background-color: #e0e1e5;
	-fx-font-weight: bold;
	-fx-pref-width: 100;
	-fx-pref-height: 30;
	-fx-background-radius: 10;
}

.icon-button {
	-fx-max-width: 30;
}


.button:hover {
	-fx-background-color: #d8d9dF;
}

.button:pressed {
	-fx-background-color: #d0d1d5;
}

.red-button {
	-fx-background-color: red;
}

.red-button:hover {
	-fx-background-color: #d00000;
}

.header {
	-fx-padding: 10;
}

.label {
	-fx-text-fill: #212529;
	-fx-font-size: 1.2em;
}

.text-field {
	-fx-border-color: #b4b1b1;
	-fx-border-radius: 0.25em;
	-fx-border-width: 0.125em;
	-fx-background-radius: 0.25em;
	-fx-padding: 0.5em;
}

.text-field:hover {
	-fx-effect: dropshadow(three-pass-box, rgb(36, 152, 166), 10, 0, 0, 0);
}